<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
</head>
<body>
    <center>
        <h1>Add New Course</h1>
    </center>
    <form action="/create_course" method="post">
        <div>
            <label for="">Name Course</label> <br>
            <input type="text" name="nameCourse">
        </div><br>
        <div>
            <label for="">Description</label> <br>
            <input type="text" name="descCourse">
        </div>
        <div>
            <label for="">Duration</label><br>
            <input type="text" name="durationCourse">
        </div>
        <div>
            <label for="">filePath</label><br>
            <input type="text" name="filePath">
        </div>
        <div>
            <label for="">CategoryId</label><br>
            <input type="text" name="category">
        </div>
        <div>
            <label for="">UserId</label><br>
        </div>
    </form>
</body>
</html>