<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
</head>
<body>
    <h1>Add New Course</h1>

    <% if (msg) { %>
        <% msg.forEach(e => { %>
         <a style="color: red;"><%= e %></a></br>
        <% }) %>
    <% } %>

    <form action="/create_course" method="post">
        <div>
            <label for="">Name Course</label> <br>
            <input type="text" name="nameCourse">
        </div><br>
        <div>
            <label for="">Description</label> <br>
            <input type="text" name="descriptionCourse">
        </div><br>
        <div>
            <label for="">Duration ( Minutes )</label><br>
            <input type="number" name="durationCourse">
        </div><br>
        <div>
            <label for="">Price</label><br>
            <input type="number" name="priceCourse">
        </div><br>
        <div>
        <div>
            <label for="">File Path</label><br>
            <input type="file" id="myFile" name="filename">
        </div><br>
        <div>
            <label for="">Category</label><br>
            <select name="CategoryId" id="category">
                <option value="" disabled selected>--Select--</option>
                <% categories.forEach(el => { %>
                    <option value="<%= el.id %>"><%= el.name %></option>
                <% }) %>
            </select>
        </div><br>
        <a href="/upload">Add file</a>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>