<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pun-TOEFL</h1>

    <h1>Welcome to Pan-TOEFL</h1>
    <h2>Where your english can become Professionally Good!</h2>

    <a style="font-size: 30px;">Learn Your Punny Way <b>T</b>o <b>E</b>njoy <b>F</b>luent <b>L</b>anguage</a>
    <br>
    <form action="/" method="post">
        <input onclick="location.href='/register'" type="button" name="register" id="register" value="Register">
        <input onclick="location.href='/login'" type="button" name="login" id="login" value="Login">
    </form>
</body>
</html>